@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply bg-stone-50 text-stone-800 antialiased;
    margin: 0;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }
}

@layer components {
  .container-main {
    @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
